.details-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 450px;
}

.details-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details-field {
  height: 50px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin:0px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-description{
  height: 100px;
}

.field-label {
  font-weight: bold;
}
